* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.gradient-box {
  background-image: linear-gradient(to right, #decd14, #dc6719, #ec179b);
  margin: 0px;
}

/* for bar setting */
.logos {
  margin-left: 200px;
}

.logos a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  float: left;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* for bar setting */
#bar2 {
  background-color: white;
  position: fixed;
  top: 65px;
  width: 100%;
}

/* for bar setting */
.bar pre {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  float: right;
}

/* for bar setting */
.bar i {
  font-size: 15px;
  text-align: center;
}


.bar button {
  font-size: 15px;
  padding: 1px;
  text-align: center;
  margin: 0px;
}

.bar a{
  color: white;
  text-decoration: none;
}
/*console button  */
#sole {
  margin: 1px;
  padding: 8px;
  
  border-color: white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

div p {
  font-size: 20px;
  font-style: inherit;
  display: inline;
}

div,
i {
  display: inline-block;
}

.navigation {
  margin-left: 300px;
  font-size: 20px;
  color: black;
}

.navigation a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: black;
}

pre {
  font-weight: 30px;
  font-size: 25px;
}

pre i {
  font-size: 45px;
  margin: 4px;
}

/*console button in upper nav bar */
#cons {
  margin-left: 20px;
  padding: 7px;
  display: inline;
  border-color: white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

/*background image setting */
.intro {
  background-image: url(back.jpeg);
  position: relative;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 185px;
 
}


.shad {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/*text written over the image */
.write {
  position: relative;

  color: white;
  text-align: left;
  padding: 25px;
  margin-top: 100px;
  margin-left: 210px;
  width: 800px;
  height: 300px;
  text-shadow: white;
  font-size: 20px;
}

#read {
  padding: 10px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}


#console {
  margin-left: 30px;
  padding: 15px;
  border-color: white;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}


#design{

  background-image: linear-gradient(to right, #decd14, #dc6719, #ec179b);
  width: 100%;
  height: 200px;
  margin-top: 160px;
  z-index: 1;
}


.inner {
  color: white;
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-left: 40px;
}

.inner h3 {
  display: inline-block;
  margin-left: 40px;
  width: 200px;
}

.inner i {
  border: 2px solid white;
  border-radius: 15px;
  padding: 8px;
}

.inner p {
  font-size: 16px;
}


#about {
  margin-left: 200px;
  margin-top: 400px;
  text-align: left;
  content: "";
  position: absolute;
  top: 500px;
  left: 0;
  width: 80%;
  height: 500px;
  background-color: white;
  z-index: -1;
}

#about p {
  width: 600px;
  height: 250px;
  float: left;
}

#about .detail-con {
  display: flex;
  align-items: center; 
}
h3 {
  width: 450px;
}


#photo {
  float: left;
  width: 450px;
  height: 400px;
  margin-left: 50px;
}

/* services  */
#service {
  background-color: rgb(244, 244, 213);
  padding-left: 180px;
  width: 100%;
  height: 550px;
  position: absolute;
  top: 1450px;
}

/* button dimension */
#service button {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* logo setting  */
#service i {
  border: 1px solid white;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  padding: 8px;
  color: white;
  background-image: linear-gradient(to right, #e9d81d, #e76814, #ea0d95);
}

/* img set  */
.image-wra {
  position: relative;
  display: inline-block;
}

/* set image  */
.image-wra img {
  width: 85%;
  height: 250px;
  object-fit: cover;
  border: 10px solid white;
  margin: 8px;
}

.bton {
  position: absolute;
  bottom: 3px;
  right: -140px;
  transform: translate(-100%, -5%);
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor:pointer;
}
